# Import Libraries

In [1]:
import pandas as pd

# Read the CSV File

In [2]:
Coffee_df = pd.read_csv("https://raw.githubusercontent.com/DATA-606-SPRING-2023-TUE/nicholas_data606/main/data/coffee_df_with_type_and_region.csv")
Coffee_df.head(10)

,slug,all_text,rating,roaster,name,region_africa_arabia,region_caribbean,region_central_america,region_hawaii,region_asia_pacific,...,agtron,aroma,acid,body,flavor,aftertaste,with_milk,desc_1,desc_2,desc_3
0,https://www.coffeereview.com/review/wilton-ben...,\n\n\n95\n\n\nJBC Coffee Roasters\nWilton Ben...,95,JBC Coffee Roasters,Wilton Benitez Geisha,0,0,0,0,0,...,59/81,9.0,9.0,9.0,9.0,9.0,NaN,"Richly floral-toned, exceptionally sweet. Dist...",Produced by Wilton Benitez of Macarena Farm en...,"A nuanced, complex experimentally processed Co..."
1,https://www.coffeereview.com/review/colombia-c...,\n\n\n95\n\n\nBird Rock Coffee Roasters\nColo...,95,Bird Rock Coffee Roasters,Colombia Cerro Azul Geisha,0,0,0,0,0,...,62/80,9.0,9.0,9.0,9.0,9.0,NaN,"Richly aromatic, chocolaty, fruit-toned. Dark ...",Produced by Rigoberto Herrera of Granja La Esp...,"A trifecta of fruit, chocolate and flowers, bo..."
2,https://www.coffeereview.com/review/yirgacheff...,\n\n\n94\n\n\nRegent Coffee\nYirgacheffe Meng...,94,Regent Coffee,Yirgacheffe Mengesha Natural,1,0,0,0,0,...,60/77,9.0,9.0,9.0,9.0,8.0,NaN,"High-toned, fruit-driven. Boysenberry, pear, c...",Produced at Mengesha Farm from selections of i...,A fruit medley in a cup — think boysenberry an...
3,https://www.coffeereview.com/review/colombia-t...,\n\n\n93\n\n\nRegent Coffee\nColombia Tolima ...,93,Regent Coffee,Colombia Tolima Finca El Mirador Washed Anaerobic,0,0,0,0,0,...,59/79,9.0,9.0,8.0,9.0,8.0,NaN,"Delicately fruit-toned. Guava, ginger blossom,...",Produced by Victor Gutiérrez of Finca Mirador ...,"An appealing washed anaerobic cup: deep-toned,..."
4,https://www.coffeereview.com/review/panama-gei...,\n\n\n94\n\n\nTheory Coffee Roasters\nPanama ...,94,Theory Coffee Roasters,Panama Geisha Finca Debra Symbiosis,0,0,1,0,0,...,62/80,9.0,9.0,9.0,9.0,8.0,NaN,"Richly fruit-forward, floral-toned. Lychee, te...",Produced by Jamison Savage of Finca Debra enti...,A floral- and fruit-driven anaerobic natural P...
5,https://www.coffeereview.com/review/panama-gei...,\n\n\n94\n\n\nTheory Coffee Roasters\nPanama ...,94,Theory Coffee Roasters,Panama Geisha Finca Debra Echo,0,0,1,0,0,...,64/80,9.0,9.0,9.0,9.0,8.0,NaN,"High-toned, richly bittersweet. Pomelo, raspbe...",Produced by Jamison Savage of Finca Debra enti...,"A complex, multi-layered experimentally proces..."
6,https://www.coffeereview.com/review/panama-gei...,\n\n\n93\n\n\nTheory Coffee Roasters\nPanama ...,93,Theory Coffee Roasters,Panama Geisha Finca Debra Vivid,0,0,1,0,0,...,62/82,9.0,8.0,9.0,9.0,8.0,NaN,"Crisply sweet-tart. Apricot, cocoa nib, agave ...",Produced by Jamison Savage of Finca Debra enti...,"A balanced, richly sweet Panama Geisha cup, pr..."
7,https://www.coffeereview.com/review/ethiopia-h...,\n\n\n95\n\n\nParadise Roasters\nEthiopia Ham...,95,Paradise Roasters,Ethiopia Hamasho Washed,1,0,0,0,0,...,62/81,9.0,9.0,9.0,9.0,9.0,NaN,"High-toned, juicy-sweet. Mango, cocoa nib, mag...",Produced by smallholding farmers from trees of...,"An invitingly elegant washed Ethiopia cup, def..."
8,https://www.coffeereview.com/review/ethiopia-i...,\n\n\n95\n\n\nParadise Roasters\nEthiopia Idi...,95,Paradise Roasters,Ethiopia Idido Anaerobic Natural,1,0,0,0,0,...,61/80,9.0,9.0,9.0,9.0,9.0,NaN,"Richly spice-toned, floral-driven. Bergamot, l...",Produced by small-holding farmers largely from...,A lyrically composed Ethiopia anaerobic cup wi...
9,https://www.coffeereview.com/review/mexico-cup...,\n\n\n94\n\n\nSkyTop Coffee\nMexico Cup of Ex...,94,SkyTop Coffee,Mexico Cup of Excellence #7,0,0,0,0,0,...,62/80,9.0,9.0,9.0,9.0,8.0,NaN,"High-toned, crisply sweet-tart. Lemongrass, co...",Produced by Gibran Leonardo Cervantes Covarrub...,A particularly fine Mexico Geisha: elegantly s...

# Basic Dataframe Info

In [3]:
Coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2282 entries, 0 to 2281
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   slug                    2282 non-null   object
 1   all_text                2282 non-null   object
 2   rating                  2282 non-null   int64
 3   roaster                 2282 non-null   object
 4   name                    2282 non-null   object
 5   region_africa_arabia    2282 non-null   int64
 6   region_caribbean        2282 non-null   int64
 7   region_central_america  2282 non-null   int64
 8   region_hawaii           2282 non-null   int64
 9   region_asia_pacific     2282 non-null   int64
 10  region_south_america    2282 non-null   int64
 11  type_espresso           2282 non-null   int64
 12  type_organic            2282 non-null   int64
 13  type_fair_trade         2282 non-null   int64
 14  type_decaffeinated      2282 non-null   int64
 15  type_best_value         2282 non-null   int64
 16  type_pod_capsule        2282 non-null   int64
 17  type_blend              2282 non-null   int64
 18  type_estate             2282 non-null   int64
 19  type_peaberry           2282 non-null   int64
 20  type_barrel_aged        2282 non-null   int64
 21  type_aged               2282 non-null   int64
 22  location                2282 non-null   object
 23  origin                  2282 non-null   object
 24  roast                   2229 non-null   object
 25  est_price               2277 non-null   object
 26  review_date             2282 non-null   object
 27  agtron                  2282 non-null   object
 28  aroma                   2256 non-null   float64
 29  acid                    1955 non-null   float64
 30  body                    2280 non-null   float64
 31  flavor                  2280 non-null   float64
 32  aftertaste              2280 non-null   float64
 33  with_milk               349 non-null    float64
 34  desc_1                  2282 non-null   object
 35  desc_2                  2282 non-null   object
 36  desc_3                  2280 non-null   object
dtypes: float64(6), int64(18), object(13)
memory usage: 659.8+ KB

In [4]:
Coffee_df.describe()

,rating,region_africa_arabia,region_caribbean,region_central_america,region_hawaii,region_asia_pacific,region_south_america,type_espresso,type_organic,type_fair_trade,...,type_estate,type_peaberry,type_barrel_aged,type_aged,aroma,acid,body,flavor,aftertaste,with_milk
count,2282.000000,2282.000000,2282.000000,2282.000000,2282.000000,2282.000000,2282.000000,2282.000000,2282.000000,2282.000000,...,2282.000000,2282.000000,2282.000000,2282.000000,2256.000000,1955.000000,2280.000000,2280.000000,2280.000000,349.000000
mean,92.986854,0.389571,0.004820,0.209904,0.056091,0.049080,0.162577,0.134093,0.069676,0.028484,...,0.337862,0.013146,0.002191,0.003944,8.819592,8.491049,8.595175,8.942105,8.091667,8.842407
std,2.026091,0.487760,0.069276,0.407329,0.230148,0.216082,0.369060,0.340827,0.254656,0.166387,...,0.473085,0.113926,0.046768,0.062690,0.487345,0.635279,0.529659,0.445522,0.553358,0.509486
min,63.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,5.000000,2.000000,2.000000,5.000000
25%,92.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,9.000000,8.000000,8.000000,9.000000,8.000000,9.000000
50%,93.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000
75%,94.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,9.000000,9.000000,9.000000,9.000000,8.000000,9.000000
max,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [5]:
Coffee_df.origin.value_counts()

Yirgacheffe growing region, southern Ethiopia    90
Guji Zone, Oromia Region, southern Ethiopia      64
Nyeri growing region, south-central Kenya        59
Boquete growing region, western Panama           41
Not disclosed                                    38
                                                 ..
Brazil; Ethiopia; Colombia                        1
Ngorongoro, Tanzania                              1
Jaramillo, Boquete growing region, Panama         1
Copey District, Costa Rica                        1
Biolley, southern Costa Rica                      1
Name: origin, Length: 988, dtype: int64

In [6]:
Coffee_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2282 entries, 0 to 2281
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   slug                    2282 non-null   object
 1   all_text                2282 non-null   object
 2   rating                  2282 non-null   int64
 3   roaster                 2282 non-null   object
 4   name                    2282 non-null   object
 5   region_africa_arabia    2282 non-null   int64
 6   region_caribbean        2282 non-null   int64
 7   region_central_america  2282 non-null   int64
 8   region_hawaii           2282 non-null   int64
 9   region_asia_pacific     2282 non-null   int64
 10  region_south_america    2282 non-null   int64
 11  type_espresso           2282 non-null   int64
 12  type_organic            2282 non-null   int64
 13  type_fair_trade         2282 non-null   int64
 14  type_decaffeinated      2282 non-null   int64
 15  type_best_value         2282 non-null   int64
 16  type_pod_capsule        2282 non-null   int64
 17  type_blend              2282 non-null   int64
 18  type_estate             2282 non-null   int64
 19  type_peaberry           2282 non-null   int64
 20  type_barrel_aged        2282 non-null   int64
 21  type_aged               2282 non-null   int64
 22  location                2282 non-null   object
 23  origin                  2282 non-null   object
 24  roast                   2229 non-null   object
 25  est_price               2277 non-null   object
 26  review_date             2282 non-null   object
 27  agtron                  2282 non-null   object
 28  aroma                   2256 non-null   float64
 29  acid                    1955 non-null   float64
 30  body                    2280 non-null   float64
 31  flavor                  2280 non-null   float64
 32  aftertaste              2280 non-null   float64
 33  with_milk               349 non-null    float64
 34  desc_1                  2282 non-null   object
 35  desc_2                  2282 non-null   object
 36  desc_3                  2280 non-null   object
dtypes: float64(6), int64(18), object(13)
memory usage: 659.8+ KB

# Check the existence of Null Values

In [7]:
Coffee_df.isnull().sum()

slug                         0
all_text                     0
rating                       0
roaster                      0
name                         0
region_africa_arabia         0
region_caribbean             0
region_central_america       0
region_hawaii                0
region_asia_pacific          0
region_south_america         0
type_espresso                0
type_organic                 0
type_fair_trade              0
type_decaffeinated           0
type_best_value              0
type_pod_capsule             0
type_blend                   0
type_estate                  0
type_peaberry                0
type_barrel_aged             0
type_aged                    0
location                     0
origin                       0
roast                       53
est_price                    5
review_date                  0
agtron                       0
aroma                       26
acid                       327
body                         2
flavor                       2
aftertaste                   2
with_milk                 1933
desc_1                       0
desc_2                       0
desc_3                       2
dtype: int64

In [8]:
# Drop the slug and all_text columns because they provide no data (one is a text link and the other is the full text of the review in an unreadable format)
# Drop the with_milk feature because of the high percentage of null values

Coffee_df = Coffee_df.drop(columns=['slug', 'all_text', 'with_milk'])
Coffee_df.isnull().sum()

rating                      0
roaster                     0
name                        0
region_africa_arabia        0
region_caribbean            0
region_central_america      0
region_hawaii               0
region_asia_pacific         0
region_south_america        0
type_espresso               0
type_organic                0
type_fair_trade             0
type_decaffeinated          0
type_best_value             0
type_pod_capsule            0
type_blend                  0
type_estate                 0
type_peaberry               0
type_barrel_aged            0
type_aged                   0
location                    0
origin                      0
roast                      53
est_price                   5
review_date                 0
agtron                      0
aroma                      26
acid                      327
body                        2
flavor                      2
aftertaste                  2
desc_1                      0
desc_2                      0
desc_3                      2
dtype: int64

In [9]:
# drop rows with null values in key columns.  acidity, aroma, roast and description were to be used as features.  Price can be used to gauge demand 
Coffee_df = Coffee_df[Coffee_df['acid'].notna()]
Coffee_df = Coffee_df[Coffee_df['est_price'].notna()]
Coffee_df = Coffee_df[Coffee_df['aroma'].notna()]
Coffee_df = Coffee_df[Coffee_df['desc_3'].notna()]
Coffee_df = Coffee_df[Coffee_df['roast'].notna()]
Coffee_df.isnull().sum()

rating                    0
roaster                   0
name                      0
region_africa_arabia      0
region_caribbean          0
region_central_america    0
region_hawaii             0
region_asia_pacific       0
region_south_america      0
type_espresso             0
type_organic              0
type_fair_trade           0
type_decaffeinated        0
type_best_value           0
type_pod_capsule          0
type_blend                0
type_estate               0
type_peaberry             0
type_barrel_aged          0
type_aged                 0
location                  0
origin                    0
roast                     0
est_price                 0
review_date               0
agtron                    0
aroma                     0
acid                      0
body                      0
flavor                    0
aftertaste                0
desc_1                    0
desc_2                    0
desc_3                    0
dtype: int64

In [10]:
# examine the cleaned data frame
Coffee_df.describe()

,rating,region_africa_arabia,region_caribbean,region_central_america,region_hawaii,region_asia_pacific,region_south_america,type_espresso,type_organic,type_fair_trade,...,type_blend,type_estate,type_peaberry,type_barrel_aged,type_aged,aroma,acid,body,flavor,aftertaste
count,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,...,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000,1916.000000
mean,93.030271,0.416493,0.005219,0.222860,0.065240,0.050104,0.175365,0.001566,0.074635,0.030793,...,0.071503,0.371608,0.015658,0.001566,0.003653,8.840814,8.501566,8.626305,8.967119,8.096033
std,1.995327,0.493106,0.072074,0.416274,0.247013,0.218217,0.380379,0.039549,0.262870,0.172802,...,0.257731,0.483360,0.124179,0.039549,0.060349,0.477400,0.617836,0.520310,0.430513,0.538022
min,63.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,5.000000,2.000000,2.000000
25%,92.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,8.000000,8.000000,9.000000,8.000000
50%,93.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9.000000,9.000000,9.000000,8.000000
75%,94.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,9.000000,9.000000,9.000000,9.000000,8.000000
max,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,10.000000,10.000000,10.000000,9.000000